﻿@model CryptoEncoderDecoder.Models.CryptEncodeDecode

@{
    ViewBag.Title = "Шифрование";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align: center;">Шифрование</h2>

@using (Html.BeginForm("CaesarCrypt", "Crypt", FormMethod.Post))
{
    <table cellpadding="0" cellspacing="0">

        <tr>
            <td>Текст: </td>
            <td>
                @Html.TextAreaFor(m => m.Text, new { @class = "form-control", rows = "7" })
            </td>
        </tr>
        <tr>
            <td>Ключ: </td>
            <td>
                @Html.TextBoxFor(m => m.Key, new { @class = "form-control", rows = "2" })
            </td>
        </tr>
        <tr>
            <td>Зашифрованный текст: </td>
            <td>

                @Html.TextAreaFor(m => m.NewText, new { @class = "form-control", rows = "7", id="textbox" })
            </td>
        <tr>

        <tr>
            <td><br /></td>
            <td>
                <br />
                <input type="submit" value="Зашифровать" class="btn btn-primary btn-lg" />
                <button class="btn btn-primary btn-lg" id="createFile">Сохранить в файл</button>
            </td>
        </tr>
    </table>

}
@section scripts{
    <script type="text/javascript">
        (function () {
            var textFile = null,
                makeTextFile = function (text) {
                    var data = new Blob([text], { type: 'text/plain' });
                    if (textFile !== null) {
                        window.URL.revokeObjectURL(textFile);
                    }
                    textFile = window.URL.createObjectURL(data);
                    return textFile;
                };
            var create = document.getElementById('createFile'),
                textbox = document.getElementById('textbox');

            create.addEventListener('click', function () {
                var link = document.createElement('a');
                link.setAttribute('download', 'crypt_text.txt');
                link.href = makeTextFile(textbox.value);
                document.body.appendChild(link);
                window.requestAnimationFrame(function () {
                    var event = new MouseEvent('click');
                    link.dispatchEvent(event);
                    document.body.removeChild(link);
                });

            }, false);
        })();

</script>
    }


