﻿@model CryptoEncoderDecoder.Models.CryptEncodeDecode

@{
    ViewBag.Title = "Дешифрование";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align: center;">Дешифрование</h2>
@using (Html.BeginForm("CaesarDecrypt",
                        "Crypt",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{
    <table cellpadding="0" cellspacing="0">

        <tr>
            <td><input type="file" name="file" id="file" accept=".txt" />  <br /></td>
            <td><input type="submit" class="btn btn-primary btn-lg" value="Загрузить" />
                      <button class="btn btn-primary btn-lg" id="createFile">Сохранить в файл</button>
            <br />
            </td>            
        </tr>
        <tr></tr>
        <tr>
            <td><br />Зашифрованный текст: </td>
            <td><br />
                @Html.TextAreaFor(m => m.Text, new { @class = "form-control", rows = "8" })
            </td>
        <tr>
        <tr>
            <td>Расшифрованный текст: </td>
            <td>
                @Html.TextAreaFor(m => m.NewText, new { @class = "form-control", rows = "8", id = "textbox" })
            </td>
        <tr>
            @ViewBag.Message
    </table>}

@section scripts{
    <script type="text/javascript">
        (function () {
            var textFile = null,
                makeTextFile = function (text) {
                    var data = new Blob([text], { type: 'text/plain' });
                    if (textFile !== null) {
                        window.URL.revokeObjectURL(textFile);
                    }
                    textFile = window.URL.createObjectURL(data);
                    return textFile;
                };
            var create = document.getElementById('createFile'),
                textbox = document.getElementById('textbox');

            create.addEventListener('click', function () {
                var link = document.createElement('a');
                link.setAttribute('download', 'decrypt_text.txt');
                link.href = makeTextFile(textbox.value);
                document.body.appendChild(link);
                window.requestAnimationFrame(function () {
                    var event = new MouseEvent('click');
                    link.dispatchEvent(event);
                    document.body.removeChild(link);
                });

            }, false);
        })();

    </script>
}

